#cog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cog-card {
  margin-top: 8px;
  text-align: center;
  position: relative;
  background: var(--grey-500);
  box-shadow: 0 0 5px #000000;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  min-height: 350px;
  font-size: 16px;
  margin-bottom: 16px;
}
.cog-card .bolt {
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--grey-600);
  border-radius: 50%;
  box-shadow: 0 0 2px 1px var(--grey-700);
  overflow: hidden;
}
.cog-card .bolt:nth-of-type(1) {
  top: 4px; left: 4px;
  transform: rotate(-24deg);
}
.cog-card .bolt:nth-of-type(2) {
  top: 4px; right: 4px;
  transform: rotate(45deg);
}
.cog-card .bolt:nth-of-type(3) {
  bottom: 4px; left: 4px;
  transform: rotate(24deg);
}
.cog-card .bolt:nth-of-type(4) {
  bottom: 4px; right: 4px;
  transform: rotate(-14deg);
}
.cog-card .bolt::after {
  content: '';
  position: absolute;
  top: 50%; left: 0;
  transform: translateY(-50%);
  width: 100%; height: 2px;
  background: var(--grey-700);
}

.cog-card > *:not(.bolt) {
  background: var(--grey-400);
  box-shadow: 0 0 4px 1px var(--grey-700) inset;
  clip-path: polygon(
    12px 0%,
    calc(100% - 12px) 0%,
    100% 12px,
    100% calc(100% - 12px),
    calc(100% - 12px) 100%,
    12px 100%,
    0% calc(100% - 12px),
    0% 12px
  );
  padding: 12px;
}

.cog-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.cog-stats img {
  clip-path: polygon(
    6px 0%,
    calc(100% - 6px) 0%,
    100% 6px,
    100% calc(100% - 6px),
    calc(100% - 6px) 100%,
    6px 100%,
    0% calc(100% - 6px),
    0% 6px
  );
}

.cog-stats b {
  width: 130px;
  color: var(--grey-700);
  font-family: SpecialElite, cursive;
}

.cog-stats .cog-level {
  line-height: 110%;
  font-family: BowlbyOneSC,Arial,Roboto,Helvetica,sans-serif;
  margin-top: 8px;
}

/* Level Buttons */
.lvl-picker {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lvl-btns {
  width: 130px;
  margin-top: 8px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
.lvl-btns button {
  border-radius: 50%;
}

.cog-card button {
  border-radius: 50px;
  margin: 1px;
  font-size: 12px;
  box-shadow: 0 0 4px var(--grey-600) inset;
}
.cog-card button:not(.active) {
  background: var(--grey-600);
  color: #ffffff;
}

.cog-card button:not(.active):hover {
  background: var(--blue-400);
}


#cog .toggle-lured, 
#cog .toggle-v2 {
  text-align: center;
}

#cog .toggle-lured { margin-top: auto; }
#cog .toggle-v2 { margin-top: 8px; }

