.gagButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-med);
  background: linear-gradient(var(--blue-500), var(--blue-400));
  box-shadow: 0 0.125rem 0.25rem var(--grey-700);
  border: 0.175rem solid var(--blue-600);
  padding: 0.175rem 1rem;
  width: fit-content;
}
@media (hover: hover) {
  .gagButton:hover { box-shadow: 0 0.125rem 0.25rem var(--grey-700) inset; }
}

.gagIcon { width: 2rem; }


.organicIcon {
  position: absolute;
  top: -0.5rem; right: -0.5rem;
  width: 1.625rem;
}


.xIcon {
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
  width: 1.25rem;
  height: 1.25rem;
  fill: #ffffff;
  background: var(--red-500);
  border-radius: 50%;
  padding: 0.25rem;
}
@media (hover: hover) {
  .gagButton:hover .xIcon {
    background: var(--red-600);
  }
}
