.hover-box {
  height: 100%;
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
}
.hover-box .overview {
  text-align: center;
}

.hover-box .stats > * { 
  display: block; 
  border-top: 2px solid var(--grey-400);
  padding: 4px 0;
}
.hover-box .stats > *:last-of-type {
  border-bottom: 2px solid var(--grey-400);
}
