/* ---------- Mobile Layout ---------- */

/* Tabs Navigation */
.recommendationsNav {
  background: #ffffff;
  bottom: 0;
  box-shadow: 0 0 0.25rem var(--grey-700);
  position: fixed;
  width: 100%;
  z-index: 50;
}
.recommendationsNavWrapper {
  background: var(--grey-400);
  display: flex;
  gap: 1px;
  justify-content: space-evenly;
  padding: 0;
}
.recommendationsNav button {
  border-radius: 0;
  flex: 1;
}


/* Tabs */
.tab {
  display: none;
  margin: 0 auto;
  max-width: 55rem;
  padding-bottom: 4.5rem;
}
.tab.displayed { display: block; }


/* Footer */
.footerWrap { display: none; }  /* hide it */



/* ---------- Desktop Layout ---------- */
@media (min-width: 72rem) {

  /* Content Layout */
  .recommendationsWrap {
    border-radius: var(--radius-xl);
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 15.625rem 1fr auto;
    width: 100%;
  }


  /* Tabs Navigation */
  .recommendationsNav { display: none; }  /* hide it */
  

  /* Tabs */
  .tab {
    display: initial;  /* show all */
    padding: 1rem;  /* add extra space */
    width: 100%;  /* fill any available space */
  }

  .toonsTab, .cogTab {
    --desktop-header-area: 3.25rem;
    align-self: flex-start;
    border-radius: var(--radius-xl);
    height: calc(100vh - var(--desktop-header-area) - 2rem);
    overflow-y: auto;
    position: sticky;
    scrollbar-gutter: stable both-edges;
    top: calc(var(--desktop-header-area) + 1rem);
  }

  .toonsTab {
    background: var(--blue-400);
    padding-inline: 0;
  }
  .toonsTab::-webkit-scrollbar {
    background: transparent;
    width: 0.75rem;
  }
  .toonsTab::-webkit-scrollbar-track {
    background: var(--blue-400);
    margin: 1.5rem;
  }
  .toonsTab::-webkit-scrollbar-thumb {
    background: var(--blue-600);
    border-radius: var(--radius-xl);
  }
  @media (hover: hover) {
    .toonsTab::-webkit-scrollbar-thumb:hover {
      background: var(--blue-500);
    }
  }

  .cogTab, 
  .cogTab.displayed {  /* ".cogTab.displayed" overrides mobile layout's "display: block;" with "display: flex;" below. */
    align-items: stretch;
    background: var(--grey-400);
    display: flex;
    padding-bottom: 2rem;
  }
  .cogTab::-webkit-scrollbar {
    background: transparent;
    width: 0.75rem;
  }
  .cogTab::-webkit-scrollbar-track {
    background: var(--grey-400);
    margin: 1.5rem;
  }
  .cogTab::-webkit-scrollbar-thumb {
    background: var(--grey-600);
    border-radius: var(--radius-xl);
  }
  @media (hover: hover) {
    .cogTab::-webkit-scrollbar-thumb:hover {
      background: var(--grey-500);
    }
  }


  /* Footer */
  .footerWrap { display: block; }  /* show it */

}
