.toonsCard {
  align-items: start;
  background: var(--blue-400);
  border: 0.5rem solid var(--blue-400);
  border-radius: var(--radius-xl);
  display: grid;
  font-family: BowlbyOneSC,Arial,Roboto,Helvetica,sans-serif;
  grid-template-columns: repeat( auto-fill, minmax( min(24rem, 100%), 1fr) );
  margin-top: 0.5rem;
}
@media (min-width: 72rem) {
  .toonsCard { margin-top: 0; }
}

.toonPanel { 
  align-items: stretch;
  background: #ffffff;
  border: 0.5rem solid var(--blue-400);
  border-radius: var(--radius-xl);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.toonPanel > * {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.toonPanel > *:not(:last-child) { 
  border-bottom: 1px solid var(--grey-400); 
  padding-bottom: 0.5rem;
}

.orgGagContainer img { width: 2.25rem; }

.organicPicker { 
  flex-direction: column;
  gap: 0.5rem;
  height: 100%; 
}
.organicPicker button {
  padding: 0.5em;
  width: 100%;
}

.gagBtn {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  width: 100%;
}
.gagBtn img { width: 1.75rem; }
