.slider {
  background: var(--grey-600);
  border-radius: 2.125rem;
  display: inline-block;
  height: 2.125rem;
  position: relative;
  width: 3.75rem;
  -webkit-touch-callout: none; /* Safari Touch */
  -webkit-user-select: none;   /* Webkit */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Edge*/
  user-select: none;          /* Future-proof*/
}
.slider:before {
  background: white;
  border-radius: 50%;
  bottom: 0.25rem;
  content: "";
  height: 1.625rem;
  left: 0.25rem;
  position: absolute;
  width: 1.625rem;
}


/* Slider Active State */
@media (hover: none) {
  /* doesn't support hover (mobile devices) - always blue */
  .active { background: var(--blue-600); }
}
@media (hover: hover) {
  /* supports hover - blue with separate hover color */
  .active:not(:hover) { background: var(--blue-600); }
}
.active:before {
  -webkit-transform: translateX(1.625rem);
  -ms-transform: translateX(1.625rem);
  transform: translateX(1.625rem);
}