#dashboard-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 0 5px var(--grey-700);
  z-index: 100;
}
#dashboard-nav .wrapper {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

#dashboard-nav a,
#dashboard-nav button {
  width: 100%;
  border-left: 1px solid var(--grey-400);
}
#dashboard-nav a { border-left: 0; }


.mobile .dashboard {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 63px;
}

.mobile .dashboard #page > * { 
  padding: 16px;
}

.mobile #dashboard-wrap {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
}

.desktop #page.dashboard > .wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr auto;
}

.desktop #page.dashboard > .wrapper > * { border-radius: 20px; }

.desktop #page.dashboard #combos,
.desktop #page.dashboard #cog {  
  padding: 16px 24px;
}

.desktop #page.dashboard #toons,
.desktop #page.dashboard #cog {  
  position: sticky;
  top: calc(52px + 16px);
  align-self: flex-start;
  height: calc(100vh - 52px - 36px);
  overflow-y: auto;
}

.desktop .dashboard #toons { 
  background: var(--blue-400);
  scrollbar-gutter: stable both-edges;
  padding: 16px 0;
}
.desktop .dashboard #toons::-webkit-scrollbar {
  background: transparent;
  width: 12px;
}
.desktop .dashboard #toons::-webkit-scrollbar-track {
  background: var(--blue-400);
  margin: 24px;
}
.desktop .dashboard #toons::-webkit-scrollbar-thumb {
  background: var(--blue-600);
  border-radius: 30px;
}
.desktop .dashboard #toons::-webkit-scrollbar-thumb:hover {
  background: var(--blue-500);
}

.desktop .dashboard #combos { 
  width: min(100%, 900px);
  margin: 0 auto; 
}

.desktop .dashboard #cog { 
  background: var(--grey-400);
}