.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  width: 100%;
}
.dashboard.desktop  {
  gap: 1.5rem;
  padding: 1.5rem;
}
@media (min-width: 84rem) {
  .dashboard {
    flex-direction: row-reverse;
    justify-content: center;
  }
  .cogsListWrap { flex-basis: 30ch; }
}

