/* ---------- Mobile Layout ---------- */

  /* Content Layout */
.dashboard { padding: 0; }


/* Tabs */
.tab {
  display: none;
  margin: 0 auto;
  max-width: 55rem;
  padding-bottom: 4.5rem;
}

.tab.displayed { display: block; }

.cogsListTab { padding-top: 1rem; }


/* Footer */
.footerWrap { display: none; }  /* hide it */



/* ---------- Medium Desktop Layout ---------- */
@media (min-width: 62rem) {

  /* Content Layout */
  .dashboard {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    width: 100%;
  }


  /* Tabs */
  .tab {
    display: block;
    padding: 0;
    margin: 0;
    max-width: none;
  }


  /* Footer */
  .footerWrap { display: block; }  /* show it */

}



/* ---------- Large Desktop Layout ---------- */
@media (min-width: 84rem) {
  
  /* Content Layout */
  .dashboard {
    flex-direction: row-reverse;
    justify-content: center;
  }
  
  /* Tabs */
  .cogsListTab { flex-basis: 30ch; }

}
