#gag-modal {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  text-align: center;
}
/* modal background */
#gag-modal::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.75;
  z-index: -1;
}

#gag-modal .wrapper {
  background: var(--blue-600);
  border: 8px solid var(--blue-600);
  border-radius: 20px;
  padding: 0 !important;
  width: 400px;
  max-width: 100%;
}
#gag-modal .modal-wrap {
  max-height: 65vh;
  overflow-y: auto;
  --thumb-color: var(--blue-400);
  --bar-width: 4px
}
.mobile #gag-modal .modal-wrap {
  border-bottom: 1px solid #000000;
}

#gag-modal .modal-wrap > * { 
  display: block; 
  border: 8px solid var(--blue-600);
}
#gag-modal section {
  padding: 16px;
  border-radius: 20px;
  background: #ffffff;
}


/* Gag Image and Name Area */
#gag-modal .main-details {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.main-details .overview > * { display: block; }
.mobile #gag-modal .main-details { flex-direction: column; }

.main-details .img-wrap {
  position: relative;
  border-radius: 50%;
  background: var(--grey-300);
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.img-wrap.org { box-shadow: 0 0 0 8px var(--green-500) inset; }

.img-wrap .gag-icon { filter: drop-shadow(0 0 5px var(--grey-700)); }
.img-wrap .organic-icon {
  position: absolute;
  top: 0; right: 0;
  width: min(40px, 10vw);
  aspect-ratio: 1 / 1;
  z-index: 1;
}

.main-details h3 { line-height: 100%; }


/* Gag Stats */
#gag-modal .stats,
#gag-modal .stats > div {
  display: grid;
}

#gag-modal .stats {
  text-align: left;
}
#gag-modal .stats > div {
  border-top: 1px solid var(--grey-400);
  padding-block: 8px;
}
#gag-modal ul { gap: 0.25em; }


/* Gag Panel */
#gag-modal .gags-panel .track-lvl-txt {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

#gag-modal .gags-panel .grid-wrap {
  --border-radius: 10px;
  --border-width: 3px;
  --child-border-radius: calc(var(--border-radius) - var(--border-width));
  border-radius: var(--border-radius);
  border: var(--border-width) solid #000000;
  background: #000000;
  width: fit-content;
  margin: auto;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(10, 1fr);
  font-size: min(12px, 3vw);
}
.gags-panel .grid-wrap > * { 
  padding: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #ffffff;
}
.gags-panel .grid-wrap b { 
  grid-column: 1 / 4; 
  padding: 2px 8px;
}

.grid-wrap b:first-of-type { border-top-left-radius: var(--child-border-radius); }
.grid-wrap b:last-of-type { border-bottom-left-radius: var(--child-border-radius); }
.grid-wrap span:nth-of-type(7) { border-top-right-radius: var(--child-border-radius); }
.grid-wrap span:last-of-type { border-bottom-right-radius: var(--child-border-radius); }

#gag-modal .modal-btn {
  border: 8px solid var(--blue-600);
}
#gag-modal button {
  width: 100%;
  border-radius: 30px;
  background: var(--red-500);
}
#gag-modal button:hover {
  background: var(--red-600);
}