.title-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 16px;
}
.title-container > div {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
@media (max-width: 40rem) {
  .title-container > div {
    flex-direction: column;
    gap: 4px;
  }
}


.main-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}
@media (max-width: 40rem) {
  .main-filters {
    align-items: center;
    flex-direction: column;
  }
}

.main-filters div {
  align-items: center;
  background: var(--blue-600);
  border: 4px solid var(--blue-600);
  border-radius: 100px;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  justify-content: center;
}
.main-filters span {
  flex-shrink: 0;
  padding-inline: 8px;
}

.main-filters select {
  background: #ffffff;
  border: 0;
  border-radius: 30px;
  color: var(--blue-600);
  font-weight: bold;
  padding: 8px;
}
.main-filters select:hover {
  background: var(--blue-400);
  box-shadow: 0 0 5px var(--blue-600) inset;
  color: #ffffff;
}
.main-filters option {
  background: #ffffff;
  color: var(--blue-600);
}


.gag-toggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gag-toggles button {
  background: 0;
  border: 4px solid var(--grey-700);
  border-radius: 15px;
  line-height: 1em;
  opacity: 0.5;
  overflow: hidden;
  padding: 4px;
  position: relative;
  transform: scale(0.9);
  transition: 0.1s linear transform;
}
.gag-toggles button:hover { transform: scale(1); }
.gag-toggles button.active {
  background: #ffffff;
  border-color: var(--blue-600);
  box-shadow: none;
  color: var(--blue-600);
  opacity: 1;
}
.gag-toggles button::after {
  color: var(--grey-700);
  content: '+';
  font-size: 38px;
  left: 50%; 
  line-height: 38px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}
.gag-toggles button.active::after { opacity: 0; }
.gag-toggles button img {
  height: 30px;
  opacity: 0.75;
  width: 30px;
}
.gag-toggles button.active img { opacity: 1; }
