.gagCell {
  position: relative;

  font-family: Karla, sans-serif;
  font-size: 0.75rem;
  font-weight: inherit;

  display: flex;
  align-items: stretch;

  width: min(100%, 4.5rem);
  padding: 0.5rem;

  border-radius: var(--radius-med);
  color: #000000;
  background: var(--grey-300);
}
.gagCell:hover { color: #000000; }

.gagCellContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.gagCell.org {
  box-shadow: 0 0 0 0.25rem var(--green-500) inset;
}
.gagCell:hover { filter: brightness(0.5); }
.expanded .gagCell {
  background: var(--grey-300);
}

.gagCellContent > * {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.organicIcon {
  position: absolute;
  top: -0.25rem; right: -0.25rem;
  width: 1.875rem;
  aspect-ratio: 1 / 1;
  z-index: 1;
}

.gagIconNameWrap {
  gap: 0.5rem;
  align-self: stretch;
}
.gagIcon {
  filter: drop-shadow(0 0 0.25rem var(--grey-700));
  width: 2.5rem;
  max-width: 100%;
  height: auto;
  flex: 1 1 0px;
  margin: auto;
}
.gagName { 
  line-height: 1.1em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gagStats {
  align-items: stretch;
  align-self: stretch;
  text-align: left;
}
.statTitle {
  text-decoration: underline;
}

.gagCell .gagStats b,
.gagCell span {
  text-align: left;
}

/* phones */
@media (max-width: 500px) {
  .gagCell { width: 100%; }
  .gagCell:not(.expanded) .organicIcon { width: min(1.875rem, 7vw); }
  .gagCell:not(.expanded) .gag-icon {
    width: min(2.5rem, 10vw);
    height: min(2.5rem, 10vw);
  }

  .expanded .gagCellContent { 
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .gagCellContent > div {
    text-align: center;
    font-size: 1rem;
    flex-shrink: 0;
  }
  .expanded .gagCellContent > div:first-of-type {
    width: 100px;
    border-right: 1px solid #000000;
    padding-right: 0.5rem;
  }
  .expanded .gagStats { align-self: center; }
}


/* expanded toggleable class  */
.gagName, 
.gagStats { 
  display: none; 
}
.expanded .gagName { display: block; }
.expanded .gagStats { display: inherit; }
