button.gag-cell {
  position: relative;

  font-family: Karla, sans-serif;
  font-size: 12px;
  font-weight: inherit;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  text-align: center;

  width: min(100%, 72px);
  padding: 8px;

  border-radius: 12px;
  color: #000000;
  background: var(--grey-300);
}
.gag-cell.org {
  box-shadow: 0 0 0 5px var(--green-500) inset;
}
.gag-cell:hover { filter: brightness(0.5); }
.expanded .gag-cell {
  background: var(--grey-300);
}

.gag-cell > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gag-cell .organic-icon {
  position: absolute;
  top: -5px; right: -5px;
  width: 30px;
  aspect-ratio: 1 / 1;
  z-index: 1;
}

.gag-icon-name-wrap { gap: 8px; }
.gag-cell .gag-icon {
  filter: drop-shadow(0 0 5px var(--grey-700));
  width: 40px;
  max-width: 100%;
  height: auto;
  flex: 1 1 0px;
}
.gag-cell .gag-name { 
  line-height: 1.1em;
}

.gag-stats {
  align-items: stretch;
  align-self: stretch;
  text-align: left;
}
.gag-stats .stat-title {
  text-decoration: underline;
}

.gag-cell .gag-stats b,
.gag-cell span {
  text-align: left;
}

/* phones */
@media (max-width: 500px) {
  :not(.expanded) .gag-cell { width: 100%; }
  :not(.expanded) .gag-cell .organic-icon { width: min(30px, 7vw); }
  :not(.expanded) .gag-cell .gag-icon {
    width: min(40px, 10vw);
    height: min(40px, 10vw);
  }

  .expanded .gag-cell { 
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    overflow: auto;
  }

  .gag-cell > div {
    text-align: center;
    font-size: 16px;
    flex-shrink: 0;
  }

  .expanded .gag-cell > div:first-of-type {
    width: 100px;
    border-right: 1px solid #000000;
    padding-right: 8px;
  }

  .expanded .gag-stats { align-self: center; }
}


/* expanded toggleable class  */
.gag-name, 
.gag-stats { 
  display: none; 
}
.expanded .gag-name,
.expanded .gag-stats {
  display: inherit;
}
