/* ---------- Mobile Layout ---------- */

/* Tabs Navigation */
.tabNav {
  background: #ffffff;
  bottom: 0;
  box-shadow: 0 0 0.25rem var(--grey-700);
  position: fixed;
  width: 100%;
  z-index: 50;
}
.tabNavWrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}


.svgBtn {
  --main-color: var(--blue-600);
  --sub-color: #ffffff;
  background: var(--sub-color);
  border-radius: 0;
  color: var(--main-color);
  display: grid;
  filter: grayscale(0.75);
  font-family: BowlbyOneSC,Arial,Roboto,Helvetica,sans-serif;
  font-size: 0.85rem;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
}
@media (hover: hover) {
  .svgBtn:hover {
    background: var(--sub-color);
    box-shadow: none;
    color: var(--main-color);
    filter: grayscale(0.75);
  }
}
.svgBtn.active { filter: none; }

.svgWrap {
  isolation: isolate;
  line-height: 0;
  padding: 0.4em 1.6em;
  position: relative;
}
.svgWrap::before {
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.15s ease-out;
  z-index: -1;
}
.svgBtn.active .svgWrap::before {
  background: var(--main-color);
  border-radius: var(--radius-xl);
  transform: scaleX(1);
}

.svgBtn svg { fill: var(--main-color); }
.svgBtn.active svg { fill: var(--sub-color); }



/* ---------- Desktop Layout ---------- */
@media (min-width: 72rem) {
  .tabNav { display: none; }  /* hide it */
}
