.combosVisual {
  align-items: flex-start;
  background: var(--blue-600);
  border: 0.5rem solid var(--blue-600);
  border-radius: var(--radius-xl);
  box-shadow: 0.1875rem 0.1875rem 0 0.1875rem var(--blue-700);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 100%;
  padding: 0.5rem;
  position: relative;
}

.textWrap { 
  align-items: center;
  align-self: stretch;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: space-between;
}
.textWrap b {
  background: var(--grey-400);
  border-radius: var(--radius-sm);
  font-family: SpecialElite, cursive;
  padding: 0.375rem 0.5rem;
}
.textWrap b span { display: inline-block; }
.textWrap i { color: #ffffff; }

.videoWrap {
  --container-border-radius: var(--radius-med);
  --fold-color: var(--grey-400);
  --fold-size: 2rem;
  background: #ffffff;
  border-radius: var(--container-border-radius);
  clip-path: polygon(
    0 0, 
    100% 0,
    100% calc(100% - var(--fold-size)), calc(100% - var(--fold-size)) 100%,
    0 100%
  );
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: 1;
}
.videoWrap::after {
  background: var(--fold-color);
  border-top-left-radius: var(--container-border-radius);
  bottom: 0; 
  content: '';
  height: var(--fold-size);
  right: 0;
  position: absolute;
  width: var(--fold-size); 
  z-index: 1;
}
.videoWrap video { 
  height: auto;
  max-width: 25rem;
  width: 100%; 
}
