#combos-visual {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 20px;
  border: 8px solid var(--blue-600);
  padding: 8px;
  background: var(--blue-600);
  max-width: 100%;
  box-shadow: 3px 3px 0 3px var(--blue-700);
}

#combos-visual .txt-wrap { 
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
}
.mobile #combos-visual .txt-wrap {
  font-size: 14px;
  line-height: 14px;
}
.txt-wrap b {
  font-family: SpecialElite, cursive;
  background: var(--grey-400);
  border-radius: 8px;
  padding: 6px 8px;
}
.txt-wrap b span { display: inline-block; }
.txt-wrap i { color: #ffffff; }

.video-wrap {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;
}
.video-wrap video { 
  width: 100%; 
  height: auto;
}
