#combos-grid { 
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax( min(24rem, 100%), 1fr) );
  align-items: start;
  background: var(--blue-600);
  border-radius: 20px;
  border: 8px solid var(--blue-600);
  box-shadow: 0 5px 10px var(--grey-700);
}
