.desktop #page.home .wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}
#page.home > *:not(#splash-screen) { font-size: 20px; }

#page.home :not(footer) .flex > * > * {
  margin-bottom: 16px;
}


#splash-screen {
  position: relative;
  background: var(--grey-400);
  min-height: max(490px, 20em);
  overflow: hidden;
}

#splash-text {
  position: absolute;
  top: 50%; left: 50%; transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}
#splash-text > * { 
  display: block; 
  width: fit-content;
  margin: auto;
  box-shadow: 0 5px 10px var(--grey-700);
}
#splash-text h2 {
  --font-scale: min(56px, 7vw);
  font-size: var(--font-scale);
  line-height: var(--font-scale);
  background: #ffffff;
  color: var(--blue-600);
  padding: 16px;
  border-radius: 16px;
  border: 8px solid var(--blue-600);
}
#splash-text h2 span { white-space: nowrap; }

#splash-text a {
  text-decoration: none;
  padding: 16px;
  border-radius: 100px;
  margin-top: 16px;
}
.desktop #splash-text a {
  transform: scale(0.95);
  transition: 0.15s ease transform;
}
.desktop #splash-text a:hover {
  transform: scale(1);
}

.gag-images {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%; 
}
.gag-images::after {
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: var(--grey-400);
  opacity: 0.6;
}
.gag-images img {
  animation: 70s slide linear infinite alternate;
}
@keyframes slide {
  to { transform: translateX(calc(-1 * 3430px + 100vw)); }
}

/* non-animated blurred effect */
/* .gag-images.blurred {
  overflow: hidden;
}
.gag-images.blurred img {
  position: absolute;
  top: 0; left: 0;
  height: 100%; 
  width: auto;
  filter: blur(5px);
  animation: none;
} */


#intro .flex { align-items: center; }

#intro .right {
  display: flex;
  justify-content: center;
}
.desktop #intro .right {
  justify-content: flex-end;
}


#combos-visual {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 20px;
  border: 8px solid var(--blue-600);
  padding: 8px;
  background: var(--blue-600);
  max-width: 100%;
  box-shadow: 0 5px 10px var(--grey-700);
}
.desktop #combos-visual { transform: rotate(2deg); }

#combos-visual .txt-wrap { 
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  font-size: 16px;
  line-height: 16px;
}
.mobile #combos-visual .txt-wrap {
  font-size: 14px;
  line-height: 14px;
}
.txt-wrap b {
  font-family: SpecialElite, cursive;
  background: var(--grey-400);
  border-radius: 8px;
  padding: 6px 8px;
}
.txt-wrap b span { display: inline-block; }
.txt-wrap i { color: #ffffff; }

.video-wrap {
  background: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  z-index: 1;
}
.video-wrap video { 
  width: 100%; 
  height: auto;
}


#about { background: var(--grey-400); }
.desktop #about .flex { flex-direction: row-reverse; }
#about img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 5px 10px var(--grey-700);
}
.desktop #about img { transform: rotate(-2deg) scale(0.9); }
#about .right { text-align: justify; }


#help .right {
  display: flex;
  flex-direction: column;
}
.desktop #help .right {
  align-items: flex-end;
}
#help a {
  border-radius: 30px;
  padding: 12px 16px;
}
#help a { text-decoration: none; }
