.footer {
  --_spacing: 1.5rem;
  background: var(--blue-400);
  font-size: 1.25rem;
  margin-top: 1rem;
  padding-block: calc(var(--_spacing) * 2);
}

.footerWrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--_spacing);
  text-align: center;
}

.footer h2 { font-size: clamp(1.5rem, 8vw, 2rem); }

.footer nav {
  border-block: 0.0625rem solid var(--blue-300);
  display: flex;
  flex-wrap: wrap;
  gap: var(--_spacing);
  justify-content: center;
  padding-block: var(--_spacing);
}

.footer a {
  color: #ffffff;
  font-weight: bold;
  margin: 0 0.5rem;
  text-decoration: none;
}
@media (hover: hover) {
  .footer a:hover { 
    box-shadow: none;
    filter: none;
    text-decoration: underline; 
  }
}
