.gag-cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 12px;
  width: min(100%, 72px);
  padding: 8px;
  border-radius: 12px;
}
.gag-cell.org {
  box-shadow: 0 0 0 5px var(--green-500) inset;
}
.expanded .gag-cell {
  background: var(--grey-300);
}

.gag-cell > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gag-cell .organic-icon {
  position: absolute;
  top: -5px; right: -5px;
  width: 30px;
  aspect-ratio: 1 / 1;
  z-index: 1;
}
.gag-cell .gag-icon {
  filter: drop-shadow(0 0 5px var(--grey-700));
  width: 40px;
  max-width: 100%;
  height: auto;
  flex: 1 1 0px;
}
.gag-cell .gag-name { 
  min-height: 2.5em; 
  line-height: 1.25em;
}

.gag-cell .gag-stats { margin-top: 12px; }

.gag-cell span {
  align-self: stretch;
  text-align: left;
}

/* phones */
@media (max-width: 500px) {
  :not(.expanded) .gag-cell { width: 100%; }
  :not(.expanded) .organic-icon { width: min(30px, 7vw); }
  :not(.expanded) .gag-icon {
    width: min(40px, 10vw);
    height: min(40px, 10vw);
  }

  .expanded .gag-cell { 
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    text-align: left;
  }

  .gag-cell > div {
    text-align: center;
    font-size: 16px;
  }
  .expanded .gag-cell > div { width: 100px; }
  .gag-cell .gag-name { min-height: 0; }
  .gag-cell .gag-stats { margin-top: 0; }
}

/* tiny phones */
@media (max-width: 375px) {
  .expanded .gag-cell { flex-direction: column; }
  .expanded .gag-cell > div { width: auto; }
}


/* expanded toggleable class  */
.gag-name, 
.gag-stats { 
  display: none; 
}
.expanded .gag-name,
.expanded .gag-stats {
  display: inherit;
}
