.title-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 16px;
}
.title-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
@media (max-width: 40rem) {
  .title-container > div {
    flex-direction: column;
    gap: 4px;
  }
}

.title-container .btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}
.title-container .btns.gag-toggles {
  gap: 0;
}

.main-filters {
  background: var(--blue-600);
  border-radius: 100px;
  border: 4px solid var(--blue-600);
}
.main-filters button { 
  color: #ffffff; 
  border-radius: 100px;
  background: 0;
}
.main-filters button:hover {
  background: var(--blue-400);
  color: #ffffff;
}
.title-container button.active {
  border-color: var(--blue-600);
  background: #ffffff;
  color: var(--blue-600);
  box-shadow: none;
}
.title-container img {
  width: 30px;
  height: 30px;
}

.btns { gap: 0; }
.gag-toggles button {
  position: relative;
  border-radius: 15px;
  border: 4px solid var(--grey-700);
  line-height: 1em;
  padding: 4px;
  transform: scale(0.9);
  transition: 0.1s linear transform;
  overflow: hidden;
  opacity: 0.5;
  background: 0;
}
.gag-toggles button img { opacity: 0.75; }
.gag-toggles button::after {
  content: '+';
  font-size: 38px;
  line-height: 38px;
  color: var(--grey-700);
  position: absolute;
  top: 50%; left: 50%; transform: translate(-50%, -50%);
}
.gag-toggles button.active { opacity: 1; }
.gag-toggles button.active img { opacity: 1; }
.gag-toggles button.active::after { opacity: 0; }
.gag-toggles button:hover { transform: scale(1); }


.combos-grid { 
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: start;
  background: var(--blue-600);
  border-radius: 20px;
  border: 8px solid var(--blue-600);
  box-shadow: 0 5px 10px var(--grey-700);
}
@media (max-width: 1375px) and (min-width: 1151px), (max-width: 850px) {
  .combos-grid { grid-template-columns: 1fr; }
}

.combo-cell {
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
  background: #ffffff;
  border-radius: 20px;
  border: 8px solid var(--blue-600);
}
.combo-cell.span-2-cols {
  grid-column-start: 1;
  grid-column-end: 3;
}

.combo-cell h3 { text-align: center; }

.combo-cell.error-msg h3 {
  color: var(--red-500);
  margin-bottom: 0;
}

.combo-cell h4 { line-height: 1em; }

.combo-gags {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  border-top: 2px solid var(--grey-400);
  border-bottom: 2px solid var(--grey-400);
}

.gag-cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 12px;
  width: min(100%, 72px);
  padding: 8px;
  border-radius: 12px;
}
.gag-cell.org {
  box-shadow: 0 0 0 4px var(--green-500) inset;
}

.gag-cell > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gag-cell .gag-stats { margin-top: 12px; }

.gag-cell .organic-icon {
  position: absolute;
  top: 0; right: 0;
  width: 25px;
  aspect-ratio: 1 / 1;
  z-index: 1;
}
.gag-cell .gag-icon {
  filter: drop-shadow(0 0 5px var(--grey-700));
  width: 40px;
  max-width: 100%;
  height: auto;
  flex: 1 1 0px;
}
.gag-cell .gag-name { 
  min-height: 2.5em; 
  line-height: 1.25em;
}

.gag-cell span {
  align-self: stretch;
  text-align: left;
}

@media (max-width: 500px) {
  .combo-cell h3 {
    font-size: 16px;
  }

  .combo-cell.expanded .combo-gags { flex-direction: column; }

  .combo-cell:not(.expanded) .gag-cell { width: 100%; }
  .combo-cell:not(.expanded) .organic-icon {
    width: min(25px, 5vw);
    height: min(25px, 5vw);
  }
  .combo-cell:not(.expanded) .gag-icon {
    width: min(40px, 10vw);
    height: min(40px, 10vw);
  }
  
  .combo-cell.expanded .gag-cell { 
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    text-align: left;
  }

  .combo-cell .gag-cell > div {
    text-align: center;
    font-size: 16px;
  }
  .combo-cell.expanded .gag-cell > div { width: 100px; }

  .gag-cell .gag-name { min-height: 0; }

  .combo-cell .gag-cell .gag-stats { margin-top: 0; }

  .combo-cell .gag-cell .gag-stats { width: fit-content; }
}


/* expanded toggleable class */
.combo-cell:not(.expanded) .gag-name,
.combo-cell:not(.expanded) .gag-stats {
  display: none;
}

.combo-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.expand-btn {
  position: relative;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
}
.expand-btn svg {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
  max-width: 14px;
  max-height: 14px;
}