.toggle {
  --accent-color: var(--blue-600);
  align-items: center;
  background: #ffffff;
  border: 0.5rem solid var(--accent-color);
  border-radius: 3rem;
  box-shadow: 0 0 0.25rem var(--grey-700);
  display: inline-flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0.5rem;
}

.icon {
  --icon-size: 2.125rem;  /* same as "slider-button" component */
  display: grid;
  height: var(--icon-size);
  place-items: center;
}

.icon img { height: var(--icon-size); }
