.gagsPicker ::-webkit-scrollbar { background: 0; }
.gagsPicker ::-webkit-scrollbar-track {
  border-radius: var(--radius-lg);
  margin: 1.5rem;
}
.gagsPicker ::-webkit-scrollbar-thumb { border-radius: var(--radius-lg); }


@media (min-width: 62rem) {
  .gagsPicker {
    margin: auto; 
    max-width: 57.875rem;
  }
}


.gagsPickerWrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 0;
  width: 100%;
}
@media (min-width: 62rem) {
  .gagsPickerWrap {
    align-items: initial;
    background: var(--blue-600);
    border-radius: 1.5rem;
    box-shadow: 0.1875rem 0.1875rem 0 0.1875rem var(--blue-700);
    display: grid;
    flex-direction: initial;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    padding-inline: 1rem;
    width: fit-content;
  }
}


.headingArea {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  max-width: 40.625rem;
  padding-inline: 1rem;
  width: 100%;
}
@media (min-width: 20rem) {
  .headingArea {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 62rem) {
  .headingArea {
    flex-direction: column;
    max-width: none;
    padding: 0;
    width: auto;
  }
}

.headingBtnWrap {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  min-height: 2rem;
}

.gagsPicker h2 { line-height: 1em; }
.gagsPicker h3 { text-align: center; }


.pickerWrap {
  --bar-width: 0.75rem;
  --thumb-color: var(--blue-500);
  --thumb-hover-color: var(--blue-400);
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  margin: 0 auto;
  max-width: 100%;
  overflow-x: auto;
  padding: 1rem;
  padding-top: 0;
  width: fit-content;
}
@media (min-width: 62rem) {
  .pickerWrap {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    padding: 0;
  }
}


.gagTrack { 
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.25rem var(--grey-700);
  display: flex; 
  gap: 0.375rem;
  margin: auto;
  padding: 0.375rem;
  width: fit-content;
}
@media (min-width: 62rem) {
  .gagTrack {
    box-shadow: 0 0.25rem 0.25rem var(--blue-700);
    margin: 0;
  }

}

.gagTrack h4 {
  grid-column: 1 / 2;
  min-width: 8ch;
  overflow: hidden;
  padding: 0.5rem;
  white-space: nowrap;
}
