#page.not-found .with-grid-bg { height: 100%; }

#page.not-found .formatted-article {
  background: var(--grey-600);
  border-color: var(--grey-600);
  box-shadow: 3px 3px 0 3px var(--grey-700);
}
#page.not-found .formatted-article section {
  border-color: var(--grey-600);
}

#page.not-found .formatted-article a {
  background: 0;
  padding: 0;
  color: var(--blue-600);
  box-shadow: none;
  text-decoration: none;
}
#page.not-found .formatted-article a:hover {
  text-decoration: underline;
}

#page.not-found .cog-grid {
  display: flex;
  justify-content: center;
  padding: 4px;
  gap: 4px;
  background: var(--grey-800);
  max-width: fit-content;
  margin: auto;
}
#page.not-found .cog-grid img {
  min-width: 0;
  min-height: 0;
  aspect-ratio: 1 / 1;
  flex: 1 1 0px;
  margin: 0;
  border-radius: 8px;
}
