
header {
  position: sticky;
  top: 0;
}

header,
#mobile-nav {
  background: #ffffff;
  box-shadow: 0 0 5px var(--grey-700);
  z-index: 100;
}
header .wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 0;
  padding-bottom: 0;
}
@media (min-width: 1151px) {
  header .wrapper { 
    justify-content: space-between;
    max-width: none; 
  }
}

header h1 { color: var(--blue-600); }


header button {
  background: 0;
  border-bottom: 3px solid transparent;
  border-radius: 10px 10px 0 0;
  color: var(--blue-600);
}

header button.active {
  border-bottom-color: var(--blue-600);
  background: 0;
  box-shadow: none;
}

#mobile-nav .wrapper {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

#mobile-nav button {
  width: 100%;
  border-left: 1px solid var(--grey-400);
}
#mobile-nav button:first-of-type { border-left: 0; }
