.mobile #help .left { text-align: center; }

#help .right {
  display: flex;
  flex-direction: column;
}
.desktop #help .right {
  align-items: flex-end;
}

#help a {
  display: block;
  width: fit-content;
  text-decoration: none;
  border-radius: 30px;
  padding: 12px 16px;
}

.mobile #help a {
  width: 100%;
  margin: auto;
  max-width: 500px;
}
