.left,
.right {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.help a {
  max-width: 50ch;
  width: 100%;
}

@media (min-width: 72rem) {
  .right { align-items: flex-end; }
  .left { align-items: flex-start; }
  .help a {
    max-width: none;
    width: auto;
  }
}