.flex { display: flex; }

.flex.mobile {
  flex-direction: column;
  gap: 24px;
}

.flex.desktop {
  flex-direction: row;
  gap: 48px;
  justify-content: space-between;
}
.flex.reverse.desktop { flex-direction: row-reverse; }