.flex {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media (min-width: 72rem) {
  .flex {
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
  }
  .flex.reverse { flex-direction: row-reverse; }
}
