#changelog-entries { position: relative; }

#changelog-entries > .wrapper {
  position: relative;
  z-index: 1;
}

#changelog-entries h2 {
  text-align: center;
  margin-bottom: 16px;
}

#page.changelog footer {
  z-index: 1;
}