.cogs-list-container {
  background: var(--grey-400);
  box-shadow: 3px 3px 0 3px var(--grey-500);
  border-radius: 20px;
  width: fit-content;
  max-width: calc(100% - 32px);
  margin: auto;
  margin-bottom: 24px;
}
.mobile .cogs-list-container {
  box-shadow: 0 4px 4px var(--grey-700);
}

.cogs-list-container .heading-btn-wrap {
  justify-content: space-between;
  padding: 8px 16px;
}
@media (max-width: 400px) {
  .cogs-list-container .heading-btn-wrap {
    flex-direction: column;
    text-align: center;
    padding-top: 16px;
  }
}

.cogs-list-container .heading-btn-wrap h3 {
  font-weight: normal;
  font-family: SpecialElite, cursive;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cogs-list-container .v2-toggle {
  --accent: var(--red-600);
  text-align: center;
}
.cogs-list-container .v2-toggle > div {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 100px;
  background: #ffffff;
  border: 8px solid var(--accent);
  box-shadow: 0 0 5px var(--grey-700);
  padding: 6px 8px;
}
.cogs-list-container .v2-toggle h3 { 
  font-weight: bold;
  font-family: SpecialElite, cursive; 
}
.cogs-list-container .v2-toggle svg {
  height: 50px;
}

.lured-toggle { margin-top: auto; }
.v2-toggle { margin-top: 8px; }
.v2-toggle svg {
  fill: var(--accent);
  padding: 4px;
}


.cogs-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 8px;
  padding: 16px;
  overflow-x: auto;
}
.custom-scrollbar.cogs-list {
  --bar-width: 8px;
  --thumb-color: var(--grey-600);
  --thumb-hover-color: var(--red-600);
}
.cogs-list::-webkit-scrollbar { background: 0; }
.cogs-list::-webkit-scrollbar-track {
  border-radius: 30px;
  margin: 24px;
}
.cogs-list::-webkit-scrollbar-thumb { border-radius: 30px; }



.cogs-list-entry { 
  list-style: none;
  margin: 0;
  background: linear-gradient(var(--red-500), var(--red-400));
  box-shadow: 0 0 0 2px var(--red-600) inset;
  padding: 8px;
  border-radius: 4px;
  font-family: SpecialElite, cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  width: 48px;
}
.cogs-list-entry.v2 {
  background: linear-gradient(var(--red-600), var(--red-500));
  box-shadow: 0 0 0 4px var(--red-600) inset;
}
.cogs-list-entry.defeated { 
  background: var(--green-400); 
  box-shadow: 0 0 0 2px var(--green-500) inset;
}
