.mobile .left,
.mobile .right {
  margin: auto;
}

.left p:last-of-type { margin-bottom: 1rem; }

.introLink { text-align: center; }
.mobile .introLink {
  margin: auto;
  max-width: 50ch;
  width: 100%;
}
.mobile .left .introLink:last-of-type { margin-bottom: 1rem; }
