/* ---------- Mobile Layout ---------- */

/* Content Layout */
.header {
  background: #ffffff;
  box-shadow: 0 0 0.25rem var(--grey-700);
  position: sticky;
  top: 0;
  z-index: 100;
}

.headerWrap {
  --bar-width: 0.25rem;
  display: grid;
  grid-template-columns: 1fr auto;
  max-height: 100vh;
  overflow-y: auto;
  padding-block: 0;
}


/* Mobile Hamburger Button */
.headerNavMenuBtn {
  align-items: center;
  align-self: center;
  background: 0;
  box-shadow: none;
  color: var(--blue-600);
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  gap: 0.75rem;
  padding: 0.25rem 0.75rem;
}
@media (hover: hover) {
  .headerNavMenuBtn:hover {
    background: 0;
    box-shadow: none;
    color: var(--blue-600);
  }
}
.headerNavMenuBtn svg {
  fill: var(--blue-600);
  height: 1.875rem;
  width: 1.875rem;
}
.headerNavMenuBtn.active { 
  background: var(--red-500); 
  color: #ffffff;
}
.headerNavMenuBtn.active svg { fill: #ffffff; }


/* Navigation Area */
.headerNav { display: none; }
.headerNav.displayed {
  border-top: 2px solid var(--grey-400);
  display: grid;
  gap: 1rem;
  grid-column: span 2;
  padding: 1.5rem 0.5rem;
  text-align: right;
}


/* General Links */
.headerLink {
  color: var(--blue-600);
  font-family: BowlbyOneSC,Arial,Roboto,Helvetica,sans-serif;
  text-decoration: none;
}
@media (hover: hover) {
  .headerLink:hover { filter: none; }
}

/* Logo Link */
.logoTextLg { display: none; }  /* hide large text */
@media (min-width: 55rem) {
  .logoTextSm { display: none; }  /* swap small text... */
  .logoTextLg { display: inherit; }  /* with large text... */
}

/* Navigation Links */
.navLink.active { text-decoration: underline; }


/* Mobile Nav Background */
.mobileNavBg {
  background: #000000;
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}



/* ---------- Desktop Layout ---------- */
@media (min-width: 40rem) {

  /* Content Layout */
  .headerWrap {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
  }


  /* Mobile Hamburger Button */
  .headerNavMenuBtn { display: none; }  /* hide it */


  /* Navigation Area */
  .headerNav,
  .headerNav.displayed {
    /* unset mobile styles */
    border: 0;
    display: flex;
    gap: 0;
    padding: 0;
    text-align: initial;
  }


  /* General Links */
  .headerLink {
    border-bottom: 0.1875rem solid var(--grey-400);
    display: inline-block;
  }
  .headerLink.active {
    border-bottom-color: var(--blue-600);
    color: var(--blue-600);
  }

  /* Navigation Links */
  .navLink.active { text-decoration: none; }  /* remove mobile styling */
  .navLink { padding: 0.5rem 1rem; }


  /* Mobile Nav Background */
  .mobileNavBg { display: none; }  /* hide it */

}