.mobile .page-wrap {
  padding-bottom: 63px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.mobile .page-wrap > * { 
  padding: 16px;
  width: 100%;
  min-height: calc(100vh - 113px);
}

.mobile .wrapper, 
.mobile .page-wrap {
  max-width: 850px;
  margin: auto;
}


.desktop .popup {
  padding-top: 16px;
  padding-bottom: 16px;
}

.desktop .popup #info {
  max-width: 850px;
  margin: auto;
}

.desktop .popup-btn {
  display: block;
  background: var(--blue-400); 
  text-shadow: 0 0 4px var(--blue-600);
  margin-right: auto;
  color: #ffffff;
  text-align: center;
  padding: 8px 16px;
  border-radius: 30px;
  font-weight: bold;
}
.desktop .popup-btn:hover {
  box-shadow: 0 0 5px var(--blue-600) inset;
}

.desktop .page-wrap {
  display: grid;
  grid-template-columns: 300px 1fr auto;
}

.desktop .page-wrap > * {  
  padding: 16px 24px; 
}

.desktop .page-wrap #toons { 
  position: sticky;
  top: 49px;
  align-self: flex-start;
  background: var(--blue-400);
  height: calc(100vh - 49px);
  overflow-y: scroll
}
.desktop .page-wrap #toons::-webkit-scrollbar {
  background: var(--blue-400);
  width: 12px;
}
.desktop .page-wrap #toons::-webkit-scrollbar-track {
  margin: 24px;
}
.desktop .page-wrap #toons::-webkit-scrollbar-thumb {
  background: var(--blue-600);
  border-radius: 30px;
}
.desktop .page-wrap #toons::-webkit-scrollbar-thumb:hover {
  background: var(--blue-500);
}

.desktop .page-wrap #combos { margin: 0 auto; }

.desktop .page-wrap #cog { 
  position: sticky;
  top: 49px;
  align-self: flex-start;
  background: var(--grey-400);
  height: calc(100vh - 49px);
  overflow: auto;
}