.popup {
  padding-top: 16px;
  padding-bottom: 16px;
}

.popup #info {
  max-width: 850px;
  margin: auto;
}

.popup-btn {
  display: block;
  background: var(--blue-400); 
  text-shadow: 0 0 4px var(--blue-600);
  margin-right: auto;
  color: #ffffff;
  text-align: center;
  padding: 8px 16px;
  border-radius: 30px;
  font-weight: bold;
}
.popup-btn:hover {
  box-shadow: 0 0 5px var(--blue-600) inset;
}

.page-wrap-desktop {
  display: grid;
  grid-template-columns: 300px 1fr auto;
}

.page-wrap-desktop > * {  
  padding: 16px 24px; 
}

.page-wrap-desktop #toons { 
  position: sticky;
  top: 49px;
  align-self: flex-start;
  background: var(--blue-400);
  height: calc(100vh - 49px);
  overflow-y: scroll
}
.page-wrap-desktop #toons::-webkit-scrollbar {
  background: var(--blue-400);
  width: 12px;
}
.page-wrap-desktop #toons::-webkit-scrollbar-track {
  margin: 24px;
}
.page-wrap-desktop #toons::-webkit-scrollbar-thumb {
  background: var(--blue-600);
  border-radius: 30px;
}
.page-wrap-desktop #toons::-webkit-scrollbar-thumb:hover {
  background: var(--blue-500);
}

.page-wrap-desktop #combos { margin: 0 auto; }

.page-wrap-desktop #cog { 
  position: sticky;
  top: 49px;
  align-self: flex-start;
  background: var(--grey-400);
  height: calc(100vh - 49px);
  overflow: auto;
}
