.page-wrap-mobile {
  padding-bottom: 63px;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.page-wrap-mobile > * { 
  padding: 16px;
  width: 100%;
  min-height: calc(100vh - 113px);
}

.toons-card {
  background: var(--blue-light);
  border: 8px solid var(--blue-light);
  gap: 0;
}
.toon-panel { border: 8px solid var(--blue-light); }
#cog { 
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cog .lured-toggle { margin-top: 0; }

.wrapper, .page-wrap-mobile {
  max-width: 850px;
  margin: auto;
}