.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-bottom: 1rem;
}
.titleContainer > div {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
@media (max-width: 40rem) {
  .titleContainer > div {
    flex-direction: column;
    gap: 0.25rem;
  }
}


.mainFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}
@media (max-width: 40rem) {
  .mainFilters {
    align-items: center;
    flex-direction: column;
  }
}

.mainFilters div {
  align-items: center;
  background: var(--blue-600);
  border: 0.25rem solid var(--blue-600);
  border-radius: 3rem;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: center;
}
.mainFilters span {
  flex-shrink: 0;
  padding-inline: 0.5rem;
}

.mainFilters select {
  background: #ffffff;
  border: 0;
  border-radius: 3rem;
  color: var(--blue-600);
  font-weight: bold;
  padding: 0.5rem;
}
@media (hover: hover) {
  .mainFilters select:hover {
    background: var(--blue-400);
    box-shadow: 0 0 0.25rem var(--blue-600) inset;
    color: #ffffff;
  }
}
.mainFilters option {
  background: #ffffff;
  color: var(--blue-600);
}


.gagToggles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gagToggles button {
  background: 0;
  border: 0.25rem solid var(--grey-700);
  border-radius: var(--radius-lg);
  line-height: 1rem;
  opacity: 0.5;
  overflow: hidden;
  padding: 0.25rem;
  position: relative;
  transform: scale(0.9);
  transition: 0.1s linear transform;
}
@media (hover: hover) {
  .gagToggles button:hover { transform: scale(1); }
}
.gagToggles button.active {
  background: #ffffff;
  border-color: var(--blue-600);
  box-shadow: none;
  color: var(--blue-600);
  opacity: 1;
}
.gagToggles button::after {
  color: var(--grey-700);
  content: "+";
  font-size: 2.25rem;
  left: 50%; 
  line-height: 2.25rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.gagToggles button.active::after { opacity: 0; }
.gagToggles button img {
  height: 2rem;
  opacity: 0.75;
  width: 2rem;
}
.gagToggles button.active img { opacity: 1; }
