.combo-cell {
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
  background: #ffffff;
  border-radius: 20px;
  border: 8px solid var(--blue-600);
}
.combo-cell.span-2-cols {
  grid-column-start: 1;
  grid-column-end: 3;
}

.combo-cell hr { border: 1px solid var(--grey-400); }

.combo-cell h3 {
  line-height: 1em;
  text-align: center;
}

.combo-cell.error-msg h3 {
  color: var(--red-500);
  margin-bottom: 0;
}

.combo-gags {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
}


/* phones */
@media (max-width: 500px) {
  .combo-cell h3 { font-size: 16px; }
  .combo-cell.expanded .combo-gags { flex-direction: column; }
}
/* tiny phones */
@media (max-width: 350px) {
  .combo-cell .combo-gags { flex-direction: column; }
}

.combo-info {
  --accent: var(--grey-600);
  border-color: var(--accent);
  border-style: solid;
  border-width: 0 0 0 4px;
  color: var(--accent);
  font-size: 0.9rem;
  line-height: 1.2rem;
  padding: 8px;
}
.combo-info.bad { --accent: var(--red-500); }
.combo-info.good { --accent: var(--green-500); }


.combo-footer {
  display: flex;
  align-items: end;
  gap: 8px;
}

.combo-stats {
  flex-grow: 1;
  display: grid;
  gap: 8px;
}


.combo-stats h4 {
  line-height: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5ch;
}
.stat-value {
  display: inline-block;
  white-space: nowrap;
}

.expand-btn {
  position: relative;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  flex-shrink: 0;
}
.expand-btn svg {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
  max-width: 14px;
  max-height: 14px;
}
