.combo-cell {
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
  background: #ffffff;
  border-radius: 20px;
  border: 8px solid var(--blue-600);
}
.combo-cell.span-2-cols {
  grid-column-start: 1;
  grid-column-end: 3;
}

.combo-cell h3 { text-align: center; }

.combo-cell.error-msg h3 {
  color: var(--red-500);
  margin-bottom: 0;
}

.combo-cell h4 { line-height: 1em; }

.combo-gags {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 8px 8px 0 8px;
  border-top: 2px solid var(--grey-400);
}


/* phones */
@media (max-width: 500px) {
  .combo-cell h3 { font-size: 16px; }
  .combo-cell.expanded .combo-gags { flex-direction: column; }
}


.combo-info {
  --accent: var(--grey-600);
  border-color: var(--accent);
  border-style: solid;
  border-width: 0 0 0 4px;
  color: var(--accent);
  font-size: 0.9rem;
  line-height: 1.2rem;
  padding: 8px;
}
.combo-info.bad { --accent: var(--red-500); }
.combo-info.good { --accent: var(--green-500); }


.combo-stats {
  border-top: 2px solid var(--grey-400);
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.expand-btn {
  position: relative;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
}
.expand-btn svg {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  fill: #ffffff;
  max-width: 14px;
  max-height: 14px;
}
