.about { background: var(--grey-400); }

.mobile .left,
.mobile .right {
  margin: auto;
}

.left { align-self: center; }
.left img {
  border-radius: var(--radius-xl);
  box-shadow: 3px 3px 0 3px var(--grey-500);
  height: auto;
  max-width: 75ch;
  width: 100%;
}
