#page-wrap {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

#page {
  height: 100%;
  overflow-y: scroll;
}

.mobile .custom-scrollbar {
  /* tweak custom scrollbar */
  --bar-width: 4px;
  --bar-color: var(--grey-400);
}

.flex {
  display: flex;
  gap: 24px;
}
.mobile .flex { flex-direction: column; }
.desktop .flex {
  flex-direction: row;
  justify-content: space-between;
}
.flex > * { width: 100%; }

.mobile .flex .right { text-align: center; }
.desktop .flex .right { text-align: right; }