@font-face {
  font-family: BowlbyOneSC;
  src: url(/public/fonts/BowlbyOneSC-Regular.ttf);
}

@font-face {
  font-family: SpecialElite;
  src: url(/public/fonts/SpecialElite-Regular.ttf);
}

/* natural box layout model, allowing overrides */
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

/* override and set custom defaults */
* {
  margin: 0;
  padding: 0;
}

html {
  /* Root Variables */
  --grey-400: #d2d2d2;
  --grey-500: #838b90;
  --grey-600: #4e5355;
  --grey-700: #3a3a3a;
  --grey-800: #1b1b1d;
  --blue-400: #5aaaff;
  --blue-600: #1a5493;
  --red-500: #d82e00;
  --yellow-500: #fad922;
  --green-500: #07781f;
}

body {
  background-color: #f3f3f3;
  background-image:  linear-gradient(#e4e4e4 2px, transparent 2px), linear-gradient(90deg, #e4e4e4 2px, transparent 2px), linear-gradient(#e4e4e4 1px, transparent 1px), linear-gradient(90deg, #e4e4e4 1px, #f3f3f3 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

button {
  cursor: pointer;
  padding: 8px;
  font-weight: bold;
  border: 0;
}
button.active {
  box-shadow: 0 0 4px var(--grey-600) inset;
  background: var(--yellow-500);
}

h1, h2, h3, h4, h5, h6 { 
  font-weight: normal;
  text-align: center; 
  font-family: BowlbyOneSC,Arial,Roboto,Helvetica,sans-serif;
}

.svg-btn {
  --main-color: var(--blue-600);
  --sub-color: #ffffff;
  background: var(--sub-color);
  color: var(--main-color);
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}
.svg-btn.active {
  background: var(--main-color);
  color: var(--sub-color);
}

.svg-btn svg { 
  width: 32px;
  height: 32px;
  fill: var(--main-color);
}
.svg-btn.active svg {
  fill: var(--sub-color);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  -webkit-touch-callout: none; /* Safari Touch */
  -webkit-user-select: none;   /* Webkit */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Edge*/
   user-select: none;          /* Future-proof*/
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey-600);
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
}
.switch input:checked + .slider {
  background-color: var(--blue-600);
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.wrapper {
  padding: 16px;
}