@font-face {
  font-family: BowlbyOneSC;
  src: url(/fonts/BowlbyOneSC-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: Karla;
  src: url(/fonts/Karla-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: SpecialElite;
  src: url(/fonts/SpecialElite-Regular.ttf);
  font-display: swap;
}

/* natural box layout model, allowing overrides */
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

/* override and set custom defaults */
* {
  margin: 0;
  padding: 0;
}

/* reduced motion */
@media screen and
  (prefers-reduced-motion: reduce), 
  (update: slow) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}

html {
  /* Root Variables */
  /* colors */
  --grey-200: #f3f3f3;
  --grey-300: #e7e7e7;
  --grey-400: #d2d2d2;
  --grey-500: #838b90;
  --grey-600: #4e5355;
  --grey-700: #3a3a3a;
  --grey-800: #1b1b1d;
  --blue-300: #81beff;
  --blue-400: #5aaaff;
  --blue-500: #2678cf;
  --blue-600: #1a5493;
  --blue-700: #124072;
  --red-400: #fd3902;
  --red-500: #d82e00;
  --red-600: #8b1e00;
  --yellow-500: #fad922;
  --green-400: #07a129;
  --green-500: #07781f;
  /* units */
  --radius-xs:  0.25rem;
  --radius-sm:  calc(var(--radius-xs) * 2);
  --radius-med: calc(var(--radius-xs) * 3);
  --radius-lg:  calc(var(--radius-xs) * 4);
  --radius-xl:  calc(var(--radius-xs) * 5);
}


a { color: var(--blue-600); }
@media (hover: hover) {
  a:hover { filter: brightness(0.25); }
}

body {
  background: var(--grey-200);
  font-family: Karla, sans-serif;
  overflow-y: scroll;
}
/* 
Since ".custom-scrollbar" is defined below the body selector,
the body selector must be "body.custom-scrollbar"
to have higher specificity and keep the custom scrollbar width.
*/
body.custom-scrollbar { --bar-width: 0.25rem; }
@media (min-width: 72rem) {
  body.custom-scrollbar { --bar-width: 1rem; }
}


.btn {
  background: var(--blue-600);
  border: 0;
  border-radius: 3em;
  color: #ffffff;
  font-family: Karla, sans-serif;
  outline: none;
  padding: 0.5em 1em;
  text-decoration: none;
}
@media (hover: hover) {
  .btn:hover {
    background: var(--blue-400);
    box-shadow: 0 0 0.25em var(--blue-600) inset;
    color: #ffffff;
    filter: none;
  }
}

.btn.active {
  box-shadow: 0 0 0.35em var(--grey-600) inset;
  background: var(--yellow-500);
  color: #000000;
}

.btn.danger {
  background: var(--red-500);
  color: #000000;
  font-family: BowlbyOneSC,Arial,Roboto,Helvetica,sans-serif;
}
@media (hover: hover) {
  .btn.danger:hover {
    background: var(--red-400);
    box-shadow: 0 0 0.25em var(--red-600) inset;
    color: #000000;
  }
}

.btn.bad { background: var(--red-500); }
.btn.good { background: var(--green-500); }
@media (hover: hover) {
  .btn.bad:hover {
    background: var(--red-400);
    box-shadow: 0 0 0.25em var(--red-600) inset;
  }
  .btn.good:hover {
    background: var(--green-400);
    box-shadow: 0 0 0.25em var(--green-500) inset;
  }
}


/* Cog Components' Clip Path */
.cog-clip {
  --_clip-size: 0.75em;
  clip-path: polygon(
    var(--_clip-size) 0%, 
    calc(100% - var(--_clip-size)) 0%, 
    100% var(--_clip-size), 
    100% calc(100% - var(--_clip-size)), 
    calc(100% - var(--_clip-size)) 100%, 
    var(--_clip-size) 100%, 
    0% calc(100% - var(--_clip-size)), 
    0% var(--_clip-size)
  );
}
/* for content areas utilizing the cog-clip class */
.cog-clip--content {
  background: var(--grey-400);
  box-shadow: 
    0 0 
    calc(var(--_clip-size) / 3) 
    calc(var(--_clip-size) * 0.1) 
    var(--grey-700) 
    inset;
}


code {
  background: var(--grey-200);
  border-radius: var(--radius-xs);
  display: inline-block;
  line-height: 1em;
  padding: 0.5em;
}


.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}


/* adjustable scrollbar */
.custom-scrollbar {
  /* defaults */
  --bar-width: 1em;
  --bar-color: var(--grey-400); 
  --thumb-color: var(--blue-600);
  --thumb-hover-color: var(--blue-500);
}
.custom-scrollbar::-webkit-scrollbar {
  background: var(--bar-color);
  width: var(--bar-width);
  height: var(--bar-width);
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--bar-color);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--thumb-color);
}
@media (hover: hover) {
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--thumb-hover-color);
  }
}


/* general default style for page elements */
.formatted-article {
  background: var(--blue-600);
  border: 0.5rem solid var(--blue-600);
  border-radius: var(--radius-xl);
  max-width: 50em;
  margin: 0 auto;
  box-shadow: 0 0.25rem 0.75rem var(--grey-700);
}
.formatted-article section {
  background: #ffffff;
  border: 0.5rem solid var(--blue-600);
  border-radius: var(--radius-xl);
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}


h1, h2, h3, h4, h5, h6 { 
  font-weight: normal;
  font-family: BowlbyOneSC,Arial,Roboto,Helvetica,sans-serif;
}


/* wraps an h2 tag and a reset button component */
.heading-btn-wrap {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
}


li { margin-left: 1em; }


main { margin-bottom: auto; }


p { max-width: 75ch; }


table { border-collapse: collapse; }
thead { border-bottom: 2px solid var(--grey-400); }
th, td {
  border: 1px solid var(--grey-400);
  padding: 0.25em 0.5em;
}


.standard-heading {
  text-align: center;
  margin-bottom: 1rem;
}


.toggle-title { text-align: center; }


ul {
  display: grid;
  gap: 0.5em;
}


/* add a graph paper bg to elements */
.with-grid-bg {
  --bg: #f3f3f3;
  --fg: #e4e4e4;
  background-color: var(--bg);
  background-image: 
    linear-gradient(var(--fg) 0.125rem, transparent 0.125rem), 
    linear-gradient(90deg, var(--fg) 0.125rem, transparent 0.125rem), 
    linear-gradient(var(--fg) 0.0625rem, transparent 0.0625rem), 
    linear-gradient(90deg, var(--fg) 0.0625rem, var(--bg) 0.0625rem);
  background-size: 6.25rem 6.25rem, 6.25rem 6.25rem, 1.25rem 1.25rem, 1.25rem 1.25rem;
  background-position: -0.125rem -0.125rem, -0.125rem -0.125rem, -0.0625rem -0.0625rem, -0.0625rem -0.0625rem;
}


/* general content wrapper */
.wrapper {
  padding: 1rem;
  max-width: 90rem;
  margin: 0 auto;
}
