/* Wrapper Component */
.cog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


/* Cog Card Area */
.cogCard {
  text-align: center;
  position: relative;
  background: var(--grey-500);
  box-shadow: 0 0 0.25rem #000000;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  min-height: 22rem;
  margin-bottom: auto;
}


/* Decorative Bolts */
.bolt {
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  background: var(--grey-600);
  border-radius: 50%;
  box-shadow: 0 0 0.125rem 0.0625rem var(--grey-700);
  overflow: hidden;
}
.bolt:nth-of-type(1) {
  top: 0.25rem; left: 0.25rem;
  transform: rotate(-24deg);
}
.bolt:nth-of-type(2) {
  top: 0.25rem; right: 0.25rem;
  transform: rotate(45deg);
}
.bolt:nth-of-type(3) {
  bottom: 0.25rem; left: 0.25rem;
  transform: rotate(24deg);
}
.bolt:nth-of-type(4) {
  bottom: 0.25rem; right: 0.25rem;
  transform: rotate(-14deg);
}
.bolt::after {
  content: "";
  position: absolute;
  top: 50%; left: 0;
  transform: translateY(-50%);
  width: 100%; height: 0.125rem;
  background: var(--grey-700);
}


/* General Cog Button */
.chooseBtn {
  background: var(--grey-600);
  border-radius: var(--radius-xs);
  font-size: 0.85rem;
  padding: 0.5em;
}


/* Level Picker Buttons */
.lvlPicker {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem;
}
.lvlBtns {
  width: 8.125rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.125rem;
}
.lvlBtn {
  background: var(--grey-600);
  border-radius: var(--radius-xs);
  padding: 0.5em;
}


/* Cog Stats Area */
.cogStats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
}
.cogStats img {
  aspect-ratio: 1 / 1;
  max-width: 100%;
  width: 8rem; 
}
.cogStats b {
  width: 8.125rem;
  color: var(--grey-600);
  font-family: SpecialElite, cursive;
}
.cogLevel {
  align-self: stretch;
  padding-top: 0.75rem;
  border-top: 0.0625rem solid var(--grey-500);
  font-family: SpecialElite, cursive;
  font-weight: bold;
  line-height: 110%;
}
