.laff-meter {
  /* border: 1px solid red; */
  --toon-color: #90d23a;  /* lime default */
  --size: 100px;
  position: relative;
  width: var(--size);
  height: var(--size);
  z-index: 1;
  margin-top: calc(var(--size) * 0.08);
}

.laff-meter .head {
  position: absolute;
  bottom: 0;
  left: 50%; transform: translateX(-50%);
  background: var(--toon-color);
  border-radius: 50%;
  width: calc(var(--size) * 0.95);
  height: calc(var(--size) * 0.80);
}

.laff-meter .ear {
  position: absolute;
  background: var(--toon-color);
  border-radius: 50%;
  top: 0;
  width: calc(var(--size) * 0.35);
  height: calc(var(--size) * 0.35);
}


/* bear */
.bear .ear {
  height: calc(var(--size) * 0.25);
  top: calc(var(--size) * 0.15);
}
.bear .ear.left { 
  transform: rotate(-45deg); 
  left: calc(var(--size) * -0.05);
}
.bear .ear.right { 
  transform: rotate(45deg); 
  right: calc(var(--size) * -0.05);
}

/* cat */
.cat .ear { 
  border-radius: calc(var(--size) * 0.40) calc(var(--size) * 0.05);
  width: calc(var(--size) * 0.40);
  height: calc(var(--size) * 0.40); 
  top: calc(var(--size) * 0.15);
}
.cat .ear.left {
  left: calc(var(--size) * 0.05);
  transform: rotate(-90deg);
}
.cat .ear.right {
  right: calc(var(--size) * 0.05);
}

/* crocodile */
.crocodile .ear {
  border-radius: calc(var(--size) * 0.50) calc(var(--size) * 0.05);
  width: calc(var(--size) * 0.55);
  height: calc(var(--size) * 0.55);
  transform: translateX(-50%) rotate(-45deg);
  left: 50%;
  top: calc(var(--size) * 0.10);
}

/* deer */
.deer .antler {
  position: absolute;
  top: calc(var(--size) * 0.03); 
  width: calc(var(--size) * 0.13);
  height: calc(var(--size) * 0.35);
  background: var(--toon-color);
  border-radius: calc(var(--size) * 0.10);
}
.deer .antler::before {
  content: '';
  position: absolute;
  top: calc(var(--size) * 0.02);
  left: calc(var(--size) * 0.01);
  width: calc(var(--size) * 0.25);
  height: calc(var(--size) * 0.10);
  background: var(--toon-color);
  border-radius: calc(var(--size) * 0.10);
  transform: rotate(-30deg);
  transform-origin: top left;
}
.deer .antler::after {
  content: '';
  position: absolute;
  top: calc(var(--size) * 0.12);
  left: 0;
  border-radius: calc(var(--size) * 0.10);
  width: calc(var(--size) * 0.25);
  height: calc(var(--size) * 0.10);
  background: var(--toon-color);
  transform: rotate(-10deg);
}

.deer .antler.left {
  left: calc(var(--size) * 0.25);
  transform: rotate(-45deg);
}
.deer .antler.right {
  right: calc(var(--size) * 0.25);
  transform: rotate(45deg) scale(-1, 1);
}

.deer .ear {
  background: var(--toon-color);
  top: calc(var(--size) * 0.18);
}
.deer .ear.left { 
  border-radius: calc(var(--size) * 0.05) calc(var(--size) * 0.25);
  left: calc(var(--size) * -0.05); 
}
.deer .ear.right { 
  border-radius: calc(var(--size) * 0.25) calc(var(--size) * 0.05);
  right: calc(var(--size) * -0.05); 
}

/* dog */
.dog .ear {
  top: 0;
  /* border-radius: 15px; */
  width: calc(var(--size) * 0.15);
  height: calc(var(--size) * 0.30);
}
.dog .ear::before {
  content: '';
  position: absolute;
  top: calc(var(--size) * -0.04);
  right: calc(var(--size) * 0.02);
  width: calc(var(--size) * 0.35);
  height: calc(var(--size) * 0.22);
  background: var(--toon-color);
  border-radius: 50%;
}

.dog .ear.left {
  left: calc(var(--size) * 0.25);
  transform: rotate(-30deg);
}
.dog .ear.right {
  right: calc(var(--size) * 0.25);
  transform: rotate(30deg) scale(-1, 1);
}

/* duck */
.duck .ear {
  border-radius: calc(var(--size) * 0.50) calc(var(--size) * 0.10);
  width: calc(var(--size) * 0.55);
  height: calc(var(--size) * 0.55);
  transform: translateX(-50%) rotate(-45deg);
  left: 50%;
  top: calc(var(--size) * 0.10);
}
.duck .ear::before,
.duck .ear::after {
  content: '';
  position: absolute;
  background: var(--toon-color);
  border-radius: 50%;
  clip-path: polygon(
    0 0, 100% 0, 100% 40%, 0 40%
  );
  transform: rotate(45deg) translate(calc(var(--size) * 0.03), calc(var(--size) * -0.08));
}
.duck .ear::before {
  top: calc(var(--size) * 0.04); right: calc(var(--size) * 0.01);
  width: calc(var(--size) * 0.30);
  height: calc(var(--size) * 0.30);
  
}
.duck .ear::after {
  width: calc(var(--size) * 0.10);
  height: calc(var(--size) * 0.10);
  top: calc(var(--size) * 0.24); 
  right: calc(var(--size) * 0.07);
  background: var(--toon-color);
  transform: rotate(30deg) translate(calc(var(--size) * 0.05), calc(var(--size) * -0.07));
}

/* horse */
.horse .ear {
  width: calc(var(--size) * 0.12);
  height: calc(var(--size) * 0.40);
}
.horse .ear.left {
  left: calc(var(--size) * 0.15);
  transform: rotate(-40deg);
}
.horse .ear.right {
  right: calc(var(--size) * 0.15);
  transform: rotate(40deg);
}

/* monkey */
.monkey .ear {
  top: auto;
  width: calc(var(--size) * 0.25);
  height: calc(var(--size) * 0.40);
  bottom: calc(var(--size) * 0.40);
  transform: translateY(50%);
}
.monkey .ear.left { left: calc(var(--size) * -0.15); }
.monkey .ear.right { right: calc(var(--size) * -0.15); }

/* mouse */
.mouse .ear.left { left: 0; }
.mouse .ear.right { right: 0; }

/* pig */
.pig .ear {
  top: calc(var(--size) * 0.05); 
  border-radius: calc(var(--size) * 0.35) calc(var(--size) * 0.03);
  width: calc(var(--size) * 0.40);
  height: calc(var(--size) * 0.40);
}
.pig .ear.left { 
  left: 0;
  transform: rotate(-100deg) scaleX(1.25);
}
.pig .ear.right { 
  right: 0;
  transform: rotate(10deg) scaleY(1.25);
}

/* rabbit */
.rabbit .ear {
  width: calc(var(--size) * 0.25);
  height: calc(var(--size) * 0.45);
  top: calc(var(--size) * -0.10);
}
.rabbit .ear.left {
  left: calc(var(--size) * 0.10);
  transform: rotate(-25deg);
}
.rabbit .ear.right {
  right: calc(var(--size) * 0.10);
  transform: rotate(25deg);
}

.laff-meter .eye {
  position: absolute;
  top: calc(var(--size) * 0.30);
  width: calc(var(--size) * 0.30);
  height: calc(var(--size) * 0.30);
  background: #ffffff;
  border: calc(var(--size) * 0.02) solid #000000;
  border-radius: 50%;
}
.eye::after {
  content: '';
  position: absolute;
  top: 50%; left: 50%; transform: translate(-50%, -50%);
  width: calc(var(--size) * 0.10); 
  height: calc(var(--size) * 0.15);
  border-radius: 50%;
  background: #000000;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 35%,
    55% 50%,
    100% 65%,
    100% 100%,
    0% 100%
  );
}
.laff-meter .eye.left { left: calc(var(--size) * 0.20); }
.laff-meter .eye.right { right: calc(var(--size) * 0.20); }

.girl .eye::before {
  content: '';
  position: absolute;
  top: calc(var(--size) * -0.01);
  width: calc(var(--size) * 0.05);
  height: calc(var(--size) * 0.05);
  border-left: calc(var(--size) * 0.02) solid #000000;
  border-right: calc(var(--size) * 0.02) solid #000000;
}
.girl .eye.left::before {
  left: calc(var(--size) * -0.01); 
  transform: rotate(-40deg);
}
.girl .eye.right::before {
  right: calc(var(--size) * -0.01); 
  transform: rotate(40deg);
}

.laff-meter .mouth {
  position: absolute;
  bottom: calc(var(--size) * 0.1);
  left: 50%; transform: translateX(-50%);
  width: calc(var(--size) * 0.90);
  height: calc(var(--size) * 0.35);
  stroke: #000000;
  stroke-width: 2;
  fill: none;
}