.toons-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--blue-light);
  border-radius: 20px;
  font-family: BowlbyOneSC,Arial,Roboto,Helvetica,sans-serif;
}

.toon-panel { 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
  padding: 8px;
  background: #ffffff;
  border-radius: 20px;
}

.toon-panel > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  gap: 16px;
}
.toon-panel > *:not(:last-child) { border-bottom: 1px solid var(--blue-light); }

.toon-name {
  --toon-color: #90d23a;  /* lime default */
  margin-top: 4px;
  color: var(--toon-color);
  filter: brightness(0.5);
  height: 3.5em;
  max-width: 128px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.org-gag-container img { width: 48px; }

.organic-picker { 
  height: 100%; 
  display: block;
}
.organic-picker b { 
  margin-bottom: auto; 
  display: block;
}
.organic-picker button {
  border-radius: 30px;
}
.organic-picker button:not(.active) {
  background: var(--blue-dark);
  color: #ffffff;
}
.organic-picker button:hover,
.organic-picker button:focus {
  background: var(--blue-light);
  box-shadow: 0 0 5px var(--blue-dark) inset;
}

.organic-picker button.active { 
  background: var(--yellow); 
}

.gag-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}
.gag-btn img {
  width: 25px;
}
