.toons-card {
  display: flex;
  flex-direction: column;
  background: var(--blue-400);
  border: 8px solid var(--blue-400);
  border-radius: 20px;
  font-family: BowlbyOneSC,Arial,Roboto,Helvetica,sans-serif;
}

.toon-panel { 
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 16px;
  gap: 8px;
  background: #ffffff;
  border: 8px solid var(--blue-400);
  border-radius: 20px;
}

.toon-panel > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.toon-panel > *:not(:last-child) { 
  border-bottom: 1px solid var(--grey-400); 
  padding-bottom: 8px;
}

.toon-toggle .controls {
  display: flex;
  align-items: center;
  gap: 16px;
}
.toon-toggle .controls button { 
  background: var(--blue-600);
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 30px;
}
.toon-toggle .controls button:hover {
   background: var(--blue-400); 
   box-shadow: 0 0 4px var(--grey-600) inset;
}
.toon-toggle .controls button svg { 
  fill: #ffffff;
  width: 16px; 
}

.toon-name {
  --toon-color: #90d23a;  /* lime default */
  margin-top: 4px;
  color: var(--toon-color);
  filter: brightness(0.5);
  height: 3.5em;
  max-width: 128px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.org-gag-container img { width: 36px; }

.organic-picker { 
  height: 100%; 
  flex-direction: column;
  gap: 8px;
}
.organic-picker b { 
  margin-bottom: auto; 
  display: block;
}
.organic-picker button {
  border-radius: 30px;
  width: 100%;
}
.organic-picker button:not(.active) {
  background: var(--blue-600);
  color: #ffffff;
}
.organic-picker button:hover,
.organic-picker button:focus {
  background: var(--blue-400);
  box-shadow: 0 0 5px var(--blue-600) inset;
}

.organic-picker button.active { 
  background: var(--yellow-500); 
}

.gag-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.gag-btn img {
  width: 25px;
}
