.gags-list {
  width: 100%;
  grid-column: 1 / 5;
}
.mobile .gags-list {
  max-width: min(100%, 650px);
  padding: 0 16px;
}

.gags-list-container {
  max-width: 100%;
  overflow-x: auto;
  margin: auto;
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  background: var(--grey-300);
  border-radius: 16px;
  min-height: 65px;  /* prevent height change between h3 and gags */
}
.mobile .gags-list-container {
  background: var(--grey-400);
  box-shadow: 0 4px 4px var(--grey-700);
  margin-top: 0;
}

.gags-list-container h4 {
  padding: 8px;
  width: 100%;
  text-align: center;
  color: var(--red-500);
}

.gags-list-container span {
  font-size: 24px;
  font-family: BowlbyOneSC,Arial,Roboto,Helvetica,sans-serif;
}