.gagsList {
  grid-column: span 4;
  max-width: 40.625rem;
  padding-inline: 1rem;
  width: 100%;
}
@media (min-width: 62rem) {
  .gagsList {
    max-width: 52rem;
    padding: 0;
  }
}


.gagsListContainer {
  --bar-width: 0.5rem;
  --thumb-color: var(--blue-500);
  --thumb-hover-color: var(--blue-400);
  align-items: center;
  background: var(--grey-400);
  border-radius: var(--radius-lg);
  box-shadow: 0 0.25rem 0.25rem var(--grey-700);
  display: flex;
  gap: 0.5rem;
  margin: auto;
  max-width: 100%;
  min-height: 4rem;  /* prevent height change between h3 and gags */
  overflow-x: auto;
  padding: 0.5rem;
}
@media (min-width: 62rem) {
  .gagsListContainer {
    background: var(--grey-300);
    box-shadow: none;
  }
}

.gagsListContainer h4 {
  color: var(--red-500);
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.gagsListContainer span {
  font-family: BowlbyOneSC,Arial,Roboto,Helvetica,sans-serif;
  font-size: 1.5rem;
}