.combos { padding: 8px 0; }



.title-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}
@media (max-width: 40rem) {
  .title-container > div {
    flex-direction: column;
  }
}

.title-container .btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

.title-container button {
  border-radius: 100px;
  background: 0;
  border: 4px solid transparent;
}
.title-container button:hover {
  background: var(--blue-dark);
  color: #ffffff;
}
.title-container button.active {
  border-color: var(--blue-dark);
  background: #ffffff;
  color: var(--blue-dark);
  box-shadow: none;
}
.title-container img {
  width: 20px;
}


.combos-grid { 
  display: grid;
  grid-template-columns: 50% 50%;
  background: var(--blue-dark);
  border-radius: 20px;
  border: 8px solid var(--blue-dark);
}
@media (max-width: 950px) {
  .combos-grid {
    display: flex;
    flex-direction: column;
    align-items: stretch;  
  }
}

.combo-cell {
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
  background: #ffffff;
  border-radius: 20px;
  border: 8px solid var(--blue-dark);
}
.combo-cell.error-msg {
  grid-column-start: 1;
  grid-column-end: 3;
}

.combo-cell:not(.error-msg) h3 {
  margin-bottom: 8px;
}
.combo-cell.error-msg h3 {
  text-align: center;
  color: var(--red);
  line-height: 1.5em;
}

.combo-cell h4 {
  line-height: 1em;
}

.combo-gags {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 16px 0; 
  border-top: 4px solid var(--metal-light);
  border-bottom: 4px solid var(--metal-light);
}

.gag-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 12px;
  width: 55px;
}

.gag-cell > * {
  display: flex;
  flex-direction: column;
}
.gag-cell .gag-stats { margin-top: 12px; }

.gag-cell img {
  width: 50px;
  /* background: var(--blue-dark);
  padding: 4px;
  border-radius: 10px; */
  filter: drop-shadow(0 0 5px var(--metal-shadow));
}

.gag-cell span {
  align-self: stretch;
  text-align: left;
}

@media (max-width: 500px) {
  .combo-cell h3 {
    margin-bottom: 8px;
  }
  .combo-cell {
    flex-direction: column;
    align-items: stretch;
  }

  .combo-gags { gap: 12px; }
  
  .gag-cell { 
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    text-align: left;
  }
  .gag-cell:not(:last-of-type) {
    padding-bottom: 8px;
    border-bottom: 4px dotted var(--metal-light);
  }

  .gag-cell > div {
    width: 100px;
    text-align: center;
    align-items: center;
    font-size: 16px;
  }

  .gag-cell .gag-stats { margin-top: 0; }

  .gag-cell img { width: 60px; }
  .gag-cell .gag-stats {
    width: fit-content;
  }

}