.splashScreen {
  background: var(--grey-400);
  min-height: 30.625rem;
  overflow: hidden;
  position: relative;
}

.splashText {
  left: 50%; 
  position: absolute;
  text-align: center;
  top: 50%; 
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 1;
}
.splashText > * { 
  box-shadow: 0 0.25rem 0.5rem var(--grey-700);
  display: block; 
  margin: auto;
  width: fit-content;
}
.splashText h2 {
  --font-scale: min(3.5rem, 7vw);
  background: #ffffff;
  border: 0.5rem solid var(--blue-600);
  border-radius: 1rem;
  color: var(--blue-600);
  font-size: var(--font-scale);
  line-height: var(--font-scale);
  padding: 1rem;
}
.splashText h2 span { white-space: nowrap; }


.gagImages {
  inset: 0;
  position: absolute;
}
.gagImages::before {
  animation: 120s slide linear infinite alternate;
  background-image: url("/img/home/splash-7.webp");
  background-size: auto 100%;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: max(200vw, 428.75rem);
}
@keyframes slide {
  to { transform: translateX(min(-100vw, -214.375rem)); }
}
.gagImages::after {
  background: var(--grey-400);
  content: '';
  inset: 0;
  opacity: 0.6;
  position: absolute;
}


